c-red = #f50054
c-dark-blue = #151a27
c-soft-blue = #0069b3
c-blue = #dbe5eb
c-dark = #333333

trs()
  transition ease-in-out .3s
verdana()
  font-family 'verdana',sans-serif
hover()
  color c-red
  border-bottom 1px dotted c-red
  cursor pointer