doctype
html
  head 
    title DevParty
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/main.css")
    link(rel="stylesheet", href="css/lightslider.min.css")
    link(rel='shortcut icon', href='favicon.ico')
  body
    section#index
      .year
        .container
          .row
            .col-lg-12
              .menu
                ul
                  li.menu__title
                    a.menu__link.menu__link_blue.menu__link_current(href="#") 2016
                  //li.menu__title
                  //  a.menu__link.menu__link_blue(href="#") 2015
                  //li.menu__title
                  //  a.menu__link.menu__link_blue(href="#") 2014
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://www.2013.webdevconf.ru/" target="_blank") 2013
      header
        .head
          .container
            .row
              button.toggle-menu
                .toggle-menu__sandwitch
                  span.sw-topper
                  span.sw-bottom
                  span.sw-footer
              .col-md-3.col-sm-1
                a(href="/#index").logo
              nav.col-md-9.col-sm-11
                ul.nav
                  li.nav__title
                    a.nav__link(href="/#schedule") Программа
                  li.nav__title
                    a.nav__link(href="/#speakers") Докладчикам
                  li.nav__title
                    a.nav__link(href="/#contacts") Контакты
                  li.nav__title
                    a.nav__link(href="/#testimonials") Отзывы
                  li.nav__title
                    a.nav__link(href="/#registration") Регистрация
        .container
          .row 
            .col-lg-12
              .header__title
                h1.header__title__h Dev 
                  span.header__title__h_red party
    section.section_blue
      .container
        .row
          .col-lg-12
            .content-box-2
              h2.content-box__h2 Памятка спикеру
              p.content-box__p_mm Если вы это читаете, то, скорее всего, вы хотите сделать доклад на конференции Dev Paty. Мы очень хотим чтобы доклад получился хорошим: технически сильным, динамичным и запоминающимся.
              h3.content-box__h3 При подготовке
              | Самое главное — сформулируйте цель доклада и держите ее в голове как в процессе подготовки, так и в течение самого доклада.<br/>
              | Примеры целей:
              ul
                li.normal Заинтересовать аудиторию своим подходом к проблеме.
                li.normal Прорекламировать какое-то собственное решение.
                li.normal Научить слушателей чему-то полезному, во что вы верите.
              </br>
              p.content-box__p_mm <strong>На конференцию не принимаются доклады, содержащие материалы рекламного характера о платных услугах, продуктах и сервисах.</strong>
              p.content-box__p_mm Время, отведенное на доклад <strong>40 минут</strong>, включает время на вопросы-ответы. Соответственно, сделайте свой доклад немного короче и оставьте 10 минут на ответы на вопросы слушателей.
              p.content-box__p_mm Файл <strong>презентации</strong> предоставьте нам заранее (<strong>за 2 суток до выступления</strong>) в формате PDF. Этот файл будет использоваться как бэкап на случай всяких неожиданностей.
              p.content-box__p_mm Убедитесь, что <strong>название</strong> вашего доклада <strong>соответствует содержанию</strong>. Если мы заметим несоответствие, то будем настаивать на том, чтобы вы изменили название.
              | На наш взгляд, признаками хорошего доклада являются:
              ul
                li.normal практическая применимость материала,
                li.normal актуальность,
                li.normal наличие простых примеров,
                li.normal конкретика,
                li.normal четкость изложения,
                li.normal экспрессия при подаче материала и поведение спикера.
              </br>
              p.content-box__p_mm Люди в зале не должны засыпать. Поэтому мы приветствуем живой диалог с залом, интересные примеры и любые другие элементы, привлекающие внимание слушателей.
              h3.content-box__h3 Что важно в презентации
              ul
              li.normal Слайды должны быть пронумерованы.
              li.normal Шрифты должны быть крупными, чтобы текст можно было разглядеть из последнего ряда.
              li.normal Цветовые схемы должны быть контрастными.
              li.normal На одном из последних слайдов презентации укажите ваши контактные данные, чтобы слушатели могли с вами связаться. Обычно это твиттер, блог и email.
              li.normal Слайды не должны быть перегружены. Слайд — это вспомогательное средство донесения информации. Основное средство — речь докладчика, его жестикуляция и т.д.
              <br/>
              p.content-box__p_mm <strong>Программный комитет оставляет за собой право выдать список замечаний по презентации, попросить переделать презентацию и пройти повторную проверку.</strong>
              p.content-box__p_mm При выступлении с нашего ноутбука нам понадобится ваша презентация строго в формате PDF.
              p.content-box__p_mm Если вы готовите презентацию в PPT, HTML, Keynote и т.д. — сконвертируйте ее в PDF и пошлите нам.
              p.content-box__p_mm При выступлении со своего ноутбука предоставьте нам информацию о:
              ul
              li.normal операционной системе;
              li.normal имеющихся на ноутбуке видеовыходах. Нужен один из разъёмов: HDMI, D-Sub (VGA), Mini DisplayPort (MiniDP, Thunderbolt).
              <br/>
              h3.content-box__h3 Во время доклада
              p.content-box__p_mm Перед началом доклада выключите ваши сотовые телефоны, они могут давать наводки на другое оборудование.
              p.content-box__p_mm  Вы можете как разрешить слушателям в зале задавать вопросы прямо по ходу доклада, так и попросить их не перебивать вас в процессе выступления. Выбор ваш.            
              p.content-box__p_mm  Оставьте 10 минут на секцию вопросов-ответов.            
              p.content-box__p_mm  В случае любых проблем во время доклада (не работает оборудование, в зале тролль, которого нужно угомонить и пр.) — смело обращайтесь к организаторам (в частности, к модератору секции).
    footer
      .container
        .footer__box
          .row
            .col-md-6.col-sm-6
              ul
                li 
                  | © Dev Party,
                  | 2016  
                li 
                  | Дизайн — 
                  a(href="http://noonki.org/" target="_blank") Круглова Ольга
                li 
                  | Верстка —
                  a(href="http://new-level.by" target="_blank") New-level
            .col-md-6.col-sm-6.right
              span.dev
              ul.socials
                li.socials__title
                  a.socials__vk.socials__vk_black(href="https://vk.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__facebook.socials__facebook_black(href="https://www.facebook.com/devparty" target="_blank")
                li.socials__title
                  a.socials__twitter.socials__twitter_black(href="https://twitter.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__youtube.socials__youtube_black(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    script(src='js/jquery.singlePageNav.min.js')
    script(src='js/lightslider.min.js')