doctype
html
  head
    title Конференция разработчиков «DevParty» 2018
    meta(name='description' content="Приглашаем Вас принять участие в конференции разработчиков «DevParty» 2018 в Вологде")
    meta(name='keywords' content="devparty 2018 конференция разработчиков вологда")
    meta(charset='utf-8')
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/lightslider.min.css")
    link(rel="stylesheet", href="css/swiper.min.css")
    link(rel="stylesheet", href="css/main.css?v=5")
    link(href='https://cdn-images.mailchimp.com/embedcode/classic-10_7.css', rel='stylesheet', type='text/css')
    link(rel='shortcut icon', href='favicon.ico')
    meta(property="og:url" content="https://devparty.ru")
    meta(property="og:title" content="Конференция разработчиков «DevParty» 2018")
    meta(property="og:description" content="Смотри в оба! Конференция «DevParty» 2018 пройдёт в ВК «Русский Дом». Начало в 10 часов.")
    meta(property="og:image" content="https://devparty.ru/img/logo/logo.png")
  body
    section#index
      .year
        .container
          .row
            .col-lg-12
              .menu
                ul
                  li.menu__title
                    a.menu__link.menu__link_blue.menu__link_current(href="/") 2018
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://2017.devparty.ru") 2017
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://2016.devparty.ru") 2016
                  li.menu__title
                    a.menu__link.menu__link_blue.disabled(href="#") 2015
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://web.archive.org/web/20141218144201/http://webdevconf.ru/" target="_blank") 2014
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://www.2013.webdevconf.ru/" target="_blank") 2013
      header
        .head
          .container
            .row
              button.toggle-menu
                .toggle-menu__sandwitch
                  span.sw-topper
                  span.sw-bottom
                  span.sw-footer
              .col-md-3.col-sm-1
                a(href="#index").logo
              nav.col-md-9.col-sm-11
                ul.nav
                  li.nav__title
                    a.nav__link(href="#schedule") Программа
                  li.nav__title
                    a.nav__link.external(href="https://devparty.timepad.ru/event/785921/#register" target="_blank") Регистрация
                  li.nav__title
                    a.nav__link(href="#testimonials") Отзывы
                  li.nav__title
                    a.nav__link(href="#contacts") Контакты
                  li.nav__title
                    a.nav__link.external(href="https://drive.google.com/open?id=10if4VYOpaXzfGo-rGF41UApQWp3rGJMm" target="_blank") Для спонсоров
        .container
          .row
            .col-lg-12
              .header__title
                h1.header__title__h Dev 
                  span.header__title__h_red party
                 h2.header__title_h2
                   | 6 октября в&nbsp;
                   a(href="#contacts").header__title_h2 Вологде
                 a(href="https://devparty.timepad.ru/event/785921/#register" target="_blank").button.button_anim.header__title_button Регистрация
                .socials.socials_bottom
                  ul
                    li.socials__title
                      a.socials__vk(href="https://vk.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__facebook(href="https://www.facebook.com/devparty" target="_blank")
                    li.socials__title
                      a.socials__twitter(href="https://twitter.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__youtube(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
                    li.socials__title
                      a.socials__telegram(href="https://t.me/devpartyconf" target="_blank")
    section.section_blue
      .container
        .row
          .col-lg-12
            .content-box-2
              h2.content-box__h2 О конференции
              p.content-box__p2
                | V конференция разработчиков DevParty состоялась в Вологде 25 марта.<br/\> DevParty 2017 собрала более 300 участников — это в 2 раза больше количества посетителей конференции 2016 года.<br><br>
                | Из 19 докладов конференции 7 были прочитаны московскими гостями и 4 — гостями из Санкт-Петербурга, Ярославля, Нижнего Новгорода и Череповца. DevParty 2017 охватила широкий спектр тем — от GameDev-a, представленного компаниями Playrix и Broccoli Games, до мобильной разработки, современных тенденций в разработке программного обеспечения и вопросов мотивации, личной и корпоративной эффективности. <br><br>
                | Фотоотчёт и все материалы конференции выложены на #[a(href="http://2017.devparty.ru") сайте]. <br>
                | До встречи на DevParty 2018!
              .swiper-block
                h2.content-box__h2 Как это было в 2017
                .swiper-how
                  .swiper-wrapper
                    .swiper-slide 
                      img(src='img/slides/07.jpg')
                    .swiper-slide 
                      img(src='img/slides/08.jpg')
                    .swiper-slide 
                      img(src='img/slides/09.jpg')
                    .swiper-slide
                      img(src='img/slides/10.jpg')
                    .swiper-slide
                      img(src='img/slides/11.jpg')
                    .swiper-slide
                      img(src='img/slides/12.jpg')
                    .swiper-slide
                      img(src='img/slides/13.jpg')
                  .swiper-button-prev
                  .swiper-button-next
                  .swiper-pagination
                .btn-center
                  a(href="https://vk.com/album-71152000_242820213" target="_blank").button.button_anim.header__title_button Перейти в альбом
            .content-box.content-box_white.schedule
              h2#schedule.content-box__h Программа
              p.content-box__p2 Возможны изменения (последнее обновление 18.09.2018 20:00)
              .section              
                p.room.bordered
                  .time 09:00 – 10:00
                  .desc
                    | Регистрация, welcome-кофе
                  .clear
              .clear
              #sec-1.section
                p.room.bordered 1 зал
                .clear
                .block
                  .time 10:00 – 10:20
                  .desc
                    | Открытие. Приветствие участников конференции
                  .clear
                .block.software
                  .time 10:30 – 11:00
                  .desc
                    a.talk(href="talks.html#talk-1") Независимость команды — найти баланс
                    br
                    span.name Алексей Катаев, 
                    span.company Skyeng
                  .clear
                .block.time-break
                  .time 11:00 – 11:10
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 11:10 – 11:40
                  .desc
                    a.talk(href="talks.html#talk-3") Проектирование, разработка и эксплуатация высоконагруженной системы онлайн репликации &gt; 500 ТБ и 1 млрд. файлов клиентов между континентами: Amazon S3 (США) — облако Mail.ru (Россия)
                    br
                    span.name Александр Сербул, 
                    span.company 1С-Битрикс
                  .clear
                .block.time-break
                  .time 11:40 – 11:50
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 11:50 – 12:20
                  .desc
                    a.talk(href="talks.html#talk-5") SaltStack: в чем соль оркестрации в IT-проекте
                    br
                    span.name Андрей Кишкин,  
                    span.company Axcient
                  .clear
                .block.time-break
                  .time 12:20 – 12:30
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 12:30 – 13:00
                  .desc
                    a.talk(href="talks.html#talk-11") Укрощение шины данных. Как наладить связь между сервисами                    
                    br
                    span.name Илья Овчинников, 
                    span.company ПиццаФабрика IT
                  .clear
                .block.time-break
                  .time 13:00 – 14:00
                  .desc
                    | Обед
                  .clear
                .block.software
                  .time 14:00 – 14:30
                  .desc
                    a.talk(href="talks.html#talk-4") Построение отказоустойчивой масштабируемой системы обмена сообщений с помощью ActiveMQ                    
                    br
                    span.name Андрей Григоров, 
                    span.company R-Style Softlab
                  .clear
                .block.time-break
                  .time 14:30 – 14:40
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 14:40 – 15:10
                  .desc
                    a.talk(href="talks.html#talk-10") Доставка пиццы в режиме OnLine
                    br
                    span.name Александр Елюков, 
                    span.company ПиццаФабрика IT
                  .clear
                .block.time-break
                  .time 15:10 – 15:40
                  .desc
                    | Кофе-брейк
                  .clear
                .block.software
                  .time 15:40 – 16:10
                  .desc
                    a.talk(href="talks.html#talk-16") Автоматизированное тестирование для всех или как мы стартапщикам помогли
                    br
                    span.name Николай Гнусов, 
                    span.company ООО «Северотек-Автоматизация»
                  .clear
                .block.time-break
                  .time 16:10 – 16:20
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 16:20 – 16:50
                  .desc
                    a.talk(href="talks.html#talk-15") Автоматизируем дворец британской королевы на Python
                    br
                    span.name Николай Головкин
                  .clear
                .block.time-break
                  .time 16:50 – 17:00
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 17:00 – 17:30
                  .desc
                    a.talk(href="talks.html#talk-2") Сияющий Agile у наших партнеров и клиентов: практика использования, подводные камни, суицид, медитация и нирванна
                    br
                    span.name  Александр Сербул, 
                    span.company 1C-Битрикс                
                  .clear
                .block
                  .time 17:30
                  .desc
                    | Закрытие конференции
                  .clear
              #sec-2.section
                p.room.bordered 2 зал
                .clear
                .block.software.spec-space.spec-1
                  .time 10:30 – 11:00
                  .desc
                    a.talk(href="talks.html#talk-8") «Привет, я знаю кто ты!» Или немного о биометрии
                    br
                    span.name Светлана Волкова, 
                    span.company Smilart
                  .clear
                .block.time-break
                  .time 11:00 – 11:10
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 11:10 – 11:40
                  .desc
                    a.talk(href="talks.html#talk-12") На волне автоматизации тестирования мобильных игр
                    br
                    span.name Виталий Гончаров, 
                    span.company Playrix
                  .clear
                .block.time-break
                  .time 11:40 – 11:50
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 11:50 – 12:20
                  .desc
                    a.talk(href="talks.html#talk-9") (Бес)полезное логирование
                    br
                    span.name Олег Стрекаловский, 
                    span.company Smilart
                  .clear
                .block.time-break
                  .time 12:20 – 12:30
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 12:30 – 13:00
                  .desc
                    a.talk(href="talks.html#talk-6") Многопоточность в Unity средствами реактивных расширений
                    br
                    span.name Вячеслав Игнатьевский, 
                    span.company Broccoli Games
                  .clear
                .block.time-break
                  .time 13:00 – 14:00
                  .desc
                    | Обед
                  .clear
                .block.software
                  .time 14:00 – 14:30
                  .desc
                    a.talk(href="talks.html#talk-17") Жизненный цикл продукта: детство, отрочество, юность
                    br
                    span.name Рыбакова Юлия, 
                    span.company CDNVideo
                  .clear
                .block.time-break
                  .time 14:30 – 14:40
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 14:40 – 15:10
                  .desc
                    a.talk(href="talks.html#talk-7") A/B тестирование в геймдизайне
                    .program-materials
                    br
                    span.name Салах Сивушков, 
                    span.company Broccoli Games
                  .clear
                .block.time-break
                  .time 15:10 – 15:40
                  .desc
                    | Кофе-брейк
                  .clear
                .block.software
                  .time 15:40 – 16:10
                  .desc
                    a.talk(href="talks.html#talk-14") Отложите на завтра. Управление временем айтишника
                    br
                    span.name Владимир Варнавский, 
                    span.company 33 Кита
                  .clear
                .block.time-break
                  .time 16:10 – 16:20
                  .desc
                    | Перерыв
                  .clear
                .block.software
                  .time 16:20 – 16:50
                  .desc
                    a.talk(href="talks.html#talk-13") Взгляни на мир глазами гейм-дизайнера
                    br
                    span.name Даниил Грудин,  
                    span.company Playrix
                  .clear
              .clear
    section.section_dark
      .container
        .row
          .col-lg-12
            .content-box.content-box_partner
              h2#partners.content-box__h Партнеры
              ul.partner__list
                li.partner__item
                  a(href="http://www.festivalnauki.ru/" target="_blank")
                    img(src='img/partners/nauka.svg')
                li.partner__item
                  a(href="http://www.smilart.com/" target="_blank")
                    img(src='img/partners/smilart.png')
                li.partner__item
                  a(href="https://vk.com/broccoligames" target="_blank")
                    img(src='img/partners/bgg.png')
                li.partner__item
                  a(href="https://vk.com/pizzafabit" target="_blank")
                    img(src='img/partners/pf_it.png')
                li.partner__item
                  a(href="http://www.playrix.ru/" target="_blank")
                    img(src='img/partners/playrix.png')
                li.partner__item
                  a(href="https://www.softlab.ru/" target="_blank")
                    img(src='img/partners/rstyle.png')
                li.partner__item
                  a(href="https://smmbox.com" target="_blank")
                    img(src='img/partners/smmbox.png')
                li.partner__item
                  a(href="https://www.sozidanie35.ru/" target="_blank")
                    img(src='img/partners/sozidanie.png')
                li.partner__item
                  a(href="http://kolledgsvyazi.ru/" target="_blank")
                    img(src='img/partners/college-of-communication.png')
                li.partner__item
                  a(href="http://izumrud-dolina.ru/" target="_blank")
                    img(src='img/partners/iz_dolina.png')
                li.partner__item
                  a(href="https://rcpp35.ru/" target="_blank")
                    img(src='img/partners/rcpp.png')
              .swiper-partner
                .swiper-wrapper
                  .swiper-slide
                    img(src='img/partners/nauka.svg')
                  .swiper-slide
                    img(src='img/partners/smilart.png')
                  .swiper-slide
                    img(src='img/partners/bgg.png')
                  .swiper-slide
                    img(src='img/partners/pf_it.png')
                  .swiper-slide
                    img(src='img/partners/playrix.png')
                  .swiper-slide
                    img(src='img/partners/rstyle.png')
                  .swiper-slide
                    img(src='img/partners/smmbox.png')
                  .swiper-slide
                    img(src='img/partners/sozidanie.png')
                  .swiper-slide
                    img(src='img/partners/college-of-communication.png')
                  .swiper-slide
                    img(src='img/partners/iz_dolina.png')
                  .swiper-slide
                    img(src='img/partners/rcpp.png')
                .swiper-button-prev
                .swiper-button-next
                .swiper-pagination
    section.section_blue
      .map-box#contacts
        .map-box__yandex
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A6a2264d528ff8fa5e9f1e5d0b885797b47133abcb5de795db52446e4f90213fa&amp;height=444&amp;lang=ru_RU&amp;scroll=true"></script>
        .map-box__adress
          .container
            .row
              .col-lg-12
                .map-box__contact
                  h3.map-box__h Место проведения
                  ul
                    li.map-box__li Вологда,
                    li.map-box__li ул. Пушкинская, 25а
                    li.map-box__li ВК «Русский Дом»
                  h4 Контакты
                  div.contacts
                    a(href="tel:+7-911-504-33-16") +7-911-504-33-16
                    br
                    a(href="mailto:olesya@devparty.ru") olesya@devparty.ru
        .row
          .col-lg-12
            .content-box
              // Begin MailChimp Signup Form
              style(type='text/css').
                  #mc_embed_signup{font:14px Helvetica,Arial,sans-serif;  max-width:400px; margin:0 auto}
              div#mc_embed_signup
                form#mc-embedded-subscribe-form.validate(action='https://devparty.us12.list-manage.com/subscribe/post?u=d8162f2478dc28a2491719736&id=a731d9b4e5', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
                  #mc_embed_signup_scroll
                    h2 &Pcy;&ocy;&dcy;&pcy;&icy;&scy;&acy;&tcy;&softcy;&scy;&yacy; &ncy;&acy; &ncy;&ocy;&vcy;&ocy;&scy;&tcy;&icy; &ocy;&tcy; DevParty
                    .indicates-required
                      span.asterisk *
                      |  обязательное поле
                    .mc-field-group
                      label(for='mce-EMAIL')
                        | &Ecy;&lcy;&iecy;&kcy;&tcy;&rcy;&ocy;&ncy;&ncy;&acy;&yacy; &pcy;&ocy;&chcy;&tcy;&acy;
                        span.asterisk *
                      | &#x9;
                      input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                    .mc-field-group
                      label(for='mce-FNAME') &Icy;&mcy;&yacy;
                      | &#x9;
                      input#mce-FNAME(type='text', value='', name='FNAME')
                    .mc-field-group
                      label(for='mce-LNAME') &Fcy;&acy;&mcy;&icy;&lcy;&icy;&yacy;
                      | &#x9;
                      input#mce-LNAME(type='text', value='', name='LNAME')
                    | &#x9;
                    #mce-responses.clear
                      #mce-error-response.response(style='display:none')
                      | &#x9;&#x9;
                      #mce-success-response.response(style='display:none')
                    // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                    div(style='position: absolute; left: -5000px;', aria-hidden='true')
                      input(type='text', name='b_d8162f2478dc28a2491719736_a731d9b4e5', tabindex='-1', value='')
                    .clear
                      input#mc-embedded-subscribe.button(type='submit', value='Подписаться', name='subscribe')
                      script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
                      script(type='text/javascript').
                          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text'; /*
                          */
                          $.extend($.validator.messages, {
                          required: "Это поле необходимо заполнить.",
                          remote: "Пожалуйста, введите правильное значение.",
                          email: "Пожалуйста, введите корректный адрес электронной почты.",
                          url: "Пожалуйста, введите корректный URL.",
                          date: "Пожалуйста, введите корректную дату.",
                          dateISO: "Пожалуйста, введите корректную дату в формате ISO.",
                          number: "Пожалуйста, введите число.",
                          digits: "Пожалуйста, вводите только цифры.",
                          creditcard: "Пожалуйста, введите правильный номер кредитной карты.",
                          equalTo: "Пожалуйста, введите такое же значение ещё раз.",
                          accept: "Пожалуйста, выберите файл с правильным расширением.",
                          maxlength: $.validator.format("Пожалуйста, введите не больше {0} символов."),
                          minlength: $.validator.format("Пожалуйста, введите не меньше {0} символов."),
                          rangelength: $.validator.format("Пожалуйста, введите значение длиной от {0} до {1} символов."),
                          range: $.validator.format("Пожалуйста, введите число от {0} до {1}."),
                          max: $.validator.format("Пожалуйста, введите число, меньшее или равное {0}."),
                          min: $.validator.format("Пожалуйста, введите число, большее или равное {0}.")
                          });}(jQuery));var $mcj = jQuery.noConflict(true);
    section.section_blue
      .container.mails__list
        h2#mails.content-box__h Контакты
        .row.content-box__p2
          .col-md-3.mail__item
            h3 Программа
            a(href="mailto:program@devparty.ru") program@devparty.ru
          .col-md-3.mail__item
            h3 Спонсоры
            a(href="mailto:sponsors@devparty.ru") sponsors@devparty.ru
          .col-md-3.mail__item
            h3 Сайт
            a(href="mailto:site@devparty.ru") site@devparty.ru
          .col-md-3.mail__item
            h3 Вопросы
            a(href="mailto:questions@devparty.ru") questions@devparty.ru
    footer
      .container
        .footer__box
          .row
            .col-md-6.col-sm-6
              ul
                li
                  | © DevParty,
                  | 2018
                li
                  | Дизайн —
                  noindex
                    a(href="http://noonki.org/" target="_blank" rel="nofollow") Круглова Ольга
                li
                  | Верстка —
                  noindex
                    a(href="http://new-level.by" target="_blank" rel="nofollow") New-level
            .col-md-6.col-sm-6.right
              span.dev
              ul.socials
                li.socials__title
                  a.socials__vk.socials__vk_black(href="https://vk.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__facebook.socials__facebook_black(href="https://www.facebook.com/devparty" target="_blank")
                li.socials__title
                  a.socials__twitter.socials__twitter_black(href="https://twitter.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__youtube.socials__youtube_black(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
                li.socials_title
                  a.socials__telegram.socials__telegram_black(href="https://t.me/devpartyconf" target="_blank")
    noindex <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    noindex <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    script(src='js/jquery.singlePageNav.min.js')
    script(src='js/lightslider.min.js')
    script(src='js/swiper.jquery.min.js')
    script(src='js/main.js?v=2')
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36119605 = new Ya.Metrika({ id:36119605, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36119605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75226628-1', 'auto');ga('send', 'pageview');
