doctype
html
  head
    title Конференция разработчиков «DevParty» 2018
    meta(name='description' content="Приглашаем Вас принять участие в конференции разработчиков Dev Party 2018 в Вологде")
    meta(name='keywords' content="devparty 2018 конференция разработчиков вологда")
    meta(charset='utf-8')
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="css/lightslider.min.css")
    link(rel="stylesheet", href="css/swiper.min.css")
    link(rel="stylesheet", href="css/main.css?v=5")
    link(rel='shortcut icon', href='favicon.ico')
    meta(property="og:url" content="https://devparty.ru")
    meta(property="og:title" content="Конференция разработчиков «DevParty» 2018")
    //- meta(property="og:description" content="Смотри в оба! Конференция «DevParty» 2018 пройдёт  в Кооперативном Колледже. Начало в 10 часов.")
    meta(property="og:image" content="https://devparty.ru/img/logo/logo.png")
  body
    section#index
      .year
        .container
          .row
            .col-lg-12
              .menu
                ul
                  li.menu__title
                    a.menu__link.menu__link_blue.menu__link_current(href="/") 2018
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://2017.devparty.ru") 2017
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://2016.devparty.ru") 2016
                  li.menu__title
                    a.menu__link.menu__link_blue.disabled(href="#") 2015
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://web.archive.org/web/20141218144201/http://webdevconf.ru/" target="_blank") 2014
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://www.2013.webdevconf.ru/" target="_blank") 2013
      header
        .head
          .container
            .row
              button.toggle-menu
                .toggle-menu__sandwitch
                  span.sw-topper
                  span.sw-bottom
                  span.sw-footer
              .col-md-3.col-sm-1
                a(href="#index").logo
              nav.col-md-9.col-sm-11
                ul.nav
                  li.nav__title
                    a.nav__link(href="#schedule") Подать доклад
                  //- li.nav__title
                    a.nav__link(href="#testimonials") Отзывы
                  li.nav__title
                    a.nav__link(href="#contacts") Контакты
                  li.nav__title
                    a.nav__link.external(href="https://drive.google.com/open?id=10if4VYOpaXzfGo-rGF41UApQWp3rGJMm" target="_blank") Для спонсоров
        .container
          .row
            .col-lg-12
              .header__title
                h1.header__title__h Dev 
                  span.header__title__h_red party
                 h2.header__title_h2
                   | осенью 2018 в&nbsp;
                   a(href="#").header__title_h2 Вологде
                <br>
                .socials.socials_bottom
                  ul
                    li.socials__title
                      a.socials__vk(href="https://vk.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__facebook(href="https://www.facebook.com/devparty" target="_blank")
                    li.socials__title
                      a.socials__twitter(href="https://twitter.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__youtube(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
                    li.socials__title
                      a.socials__github(href="https://github.com/DevPartyConf/markup" target="_blank")
    section.section_blue
      .container
        .row
          .col-lg-12
            .content-box-2
              h2.content-box__h2 О конференции
              p.content-box__p2
                | V конференция разработчиков DevParty состоялась в Вологде 25 марта.<br/\> DevParty 2017 собрала более 300 участников — это в 2 раза больше количества посетителей конференции 2016 года.<br><br>
                | Из 19 докладов конференции 7 были прочитаны московскими гостями и 4 — гостями из Санкт-Петербурга, Ярославля, Нижнего Новгорода и Череповца. DevParty 2017 охватила широкий спектр тем — от GameDev-a, представленного компаниями Playrix и Broccoli Games, до мобильной разработки, современных тенденций в разработке программного обеспечения и вопросов мотивации, личной и корпоративной эффективности. <br><br>
                | Фотоотчёт и все материалы конференции выложены на #[a(href="http://2017.devparty.ru") сайте]. <br>
                | До встречи на DevParty 2018!
              .swiper-block
                h2.content-box__h2 Как это было в 2017
                .swiper-how
                  .swiper-wrapper
                    .swiper-slide 
                      img(src='img/slides/07.jpg')
                    .swiper-slide 
                      img(src='img/slides/08.jpg')
                    .swiper-slide 
                      img(src='img/slides/09.jpg')
                    .swiper-slide
                      img(src='img/slides/10.jpg')
                    .swiper-slide
                      img(src='img/slides/11.jpg')
                    .swiper-slide
                      img(src='img/slides/12.jpg')
                    .swiper-slide
                      img(src='img/slides/13.jpg')
                  .swiper-button-prev
                  .swiper-button-next
                  .swiper-pagination
                .btn-center
                  a(href="https://vk.com/album-71152000_242820213" target="_blank").button.button_anim.header__title_button Перейти в альбом
            .content-box.content-box_white.schedule
              h2#schedule.content-box__h Приём докладов
              p.content-box__p Если вы хотите выступить с докладом, ознакомьтесь с #[a(href="/for-speakers.html" target="_blank") информацией для докладчиков] и <br/>
                a.ask(href="https://docs.google.com/forms/d/e/1FAIpQLSf3nzaBcjR4Xz3kO0Qzyff2O4fQocoytQah-fpHs_Qoq3XzGg/viewform" target="_blank") заполните анкету спикера
                |.
    //- section.section_blue
      .map-box#contacts
        .map-box__yandex
          <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=UzMmjjh0OFNvJmWOiDeM8VSJ29NYlQr8&amp;height=444&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
        .map-box__adress
          .container
            .row
              .col-lg-12
                .map-box__contact
                  h3.map-box__h Место проведения
                  ul
                    li.map-box__li Вологда,
                    li.map-box__li ул. Горького, д.93
                    li.map-box__li «Вологодский Кооперативный Колледж»
                  h4 Контакты
                  div.contacts
                    a(href="tel:+7-911-504-33-16") +7-911-504-33-16
                    br
                    a(href="mailto:olesya@devparty.ru") olesya@devparty.ru
    //- section.section_blue
      .container
        .row
          .col-lg-12
            .content-box.content-box_m
              h2#testimonials.content-box__h Отзывы
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Отличная конференция, было очень интересно, с нетерпением жду следующего года.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Это первая конференция такого плана для меня. Крайне полезный опыт хотя бы в плане общего развития, достаточно интересные темы, в большинстве своем. Не обошлось, конечно, без бесполезных бравадных докладов (рэббит, опендата), но это малая кровь. Развивайтесь и дальше, особенно поддерживаю идею разделения на 2 аудитории - крайне удобно выбирать тему по душе. Да, можно желать услышать параллельно идущие доклады, но я надеюсь, что в скором времени появятся видео записи и файлы презентаций. Огромное спасибо за организацию подобных мероприятий товарищам, которые явно делают это на огромной личной инициативе. С большим удовольствием посещал бы подобные митапы чаще раза в год! Продолжу следить за данной темой.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Вы молодцы!
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Вообще конференция была очень крутая, фотки выкладывались в режиме реального времени что вообще отлично. Доклады интересные, кофе-брейки вообще на высоте, я столько пиццы никогда не видел, стенд у Playrix отличный и ребята общительные. Поиграл пообщался и поел, все не отходя от их стола :)
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Благодарю организаторов DevParty за мероприятие с потрясающе высоким для провинции уровнем организации! Было очень много продуктивного и позитивного общения, интересные доклады и отличные вопросы к ним. Роста, развития, процветания вам, ребята - вы делаете хорошее дело!
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Все было супер! Спасибо организаторам!
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Всё понравилось! Спасибо ещё раз за возможность поучаствовать.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Понравилась очень домашняя атмосфера и добродушное отношение.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Молодцы! Конференция вышла на качественно новый уровень по сравнению с предыдущими годами.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Все очень понравилось, есть желание приходить сюда еще. Большое спасибо за такую возможность.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Организация, тайминг, спикеры, темы - всё на высшем уровне! Приятно удивляете каждый год! Молодцы!
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Показалась слабая компетенция некоторых докладчиков.
              span.content-box__autor Участник
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Отличные доклады, очень хотелось бы хотя бы пару докладов направленных конкретно на обучение, чтобы ожидалось что туда придут шокльники и студенты. Еще было бы круто если бы присутствовала какая то интерактивность на стендах в перерывах, и для тех кто хочет просто ознакомиться с продуктами компаний, и для тех кто хочет устроиться в одну из них.
              span.content-box__autor Участник              
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Все было замечательно, все посещенные доклады полезные и интересные. Время потрачено не зря.
              span.content-box__autor Участник              
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Отличная большая конфа, очень понравилась :) надеюсь, в следующем году она будет раза в полтора больше и с участниками (слушателями) из многих других регионов.
              span.content-box__autor Участник              
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Организаторы - большие молодцы. Я впервые присутствовала на подобном мероприятии, и мне очень понравилось. Одним из моих комментариев друзьям по поводу конференции была фраза "Зря сами не сходили". Из негативного только то, что мне не хватало свободного пространства на кофе-брейках. А в целом всё очень хорошо. Продолжайте и дальше в таком духе.
              span.content-box__autor Участник              
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Была на конференции впервые, приятно удивили! Доклады содержательные, все во время, атмосфера доброжелательная. Очень круто, приду ещё!
              span.content-box__autor Участник              
            .content-box.content-box_m
              p.content-box__p.content-box__p_white Очень понравилось побывать на этой конференции. Было очень интересно и увлекательно.
              span.content-box__autor Участник              

    section.section_blue
      .container.mails__list
        h2#mails.content-box__h Контакты
        .row.content-box__p2
          .col-md-3.mail__item
            h3 Программа
            a(href="mailto:program@devparty.ru") program@devparty.ru
          .col-md-3.mail__item
            h3 Спонсоры
            a(href="mailto:sponsors@devparty.ru") sponsors@devparty.ru
          .col-md-3.mail__item
            h3 Сайт
            a(href="mailto:site@devparty.ru") site@devparty.ru
          .col-md-3.mail__item
            h3 Вопросы
            a(href="mailto:questions@devparty.ru") questions@devparty.ru
    footer
      .container
        .footer__box
          .row
            .col-md-6.col-sm-6
              ul
                li
                  | © DevParty,
                  | 2017
                li
                  | Дизайн —
                  noindex
                    a(href="http://noonki.org/" target="_blank" rel="nofollow") Круглова Ольга
                li
                  | Верстка —
                  noindex
                    a(href="http://new-level.by" target="_blank" rel="nofollow") New-level
            .col-md-6.col-sm-6.right
              span.dev
              ul.socials
                li.socials__title
                  a.socials__vk.socials__vk_black(href="https://vk.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__facebook.socials__facebook_black(href="https://www.facebook.com/devparty" target="_blank")
                li.socials__title
                  a.socials__twitter.socials__twitter_black(href="https://twitter.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__youtube.socials__youtube_black(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
                li.socials__title
                  a.socials__github.socials__github_black(href="https://github.com/DevPartyConf/markup" target="_blank")
    noindex <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    noindex <script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    script(src='js/jquery.singlePageNav.min.js')
    script(src='js/lightslider.min.js')
    script(src='js/swiper.jquery.min.js')
    script(src='js/main.js?v=2')
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36119605 = new Ya.Metrika({ id:36119605, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36119605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75226628-1', 'auto');ga('send', 'pageview');
