doctype
html
  head
    title Конференция разработчиков «DevParty» 2016: Памятка спикеру
    meta(name='description' content="Приглашаем Вас принять участие в конференции разработчиков Dev Party 2016 в Вологде")
    meta(name='keywords' content="devparty 2016 конференция разработчиков вологда межрегиональный it форум")
    meta(http-equiv="Cache-Control" content="no-cache")
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="../css/main.css")
    link(rel='shortcut icon', href='../favicon.ico')
    meta(property="og:url" content="https://devparty.ru")
    meta(property="og:title" content="Конференция разработчиков «DevParty» 2016")
    meta(property="og:description" content="Смотри в оба! Конференция «DevParty» 2016 пройдёт в рамках 7-го межрегионального IT-форума. Начало 2 апреля в 10 часов.")
    meta(property="og:image" content="https://devparty.ru/img/logo/logo.png")
  body
    section#index
      .year
        .container
          .row
            .col-lg-12
              .menu
                ul
                  li.menu__title
                    a.menu__link.menu__link_blue.menu__link_current(href="#") 2016
                  //li.menu__title
                  //  a.menu__link.menu__link_blue(href="#") 2015
                  //li.menu__title
                  //  a.menu__link.menu__link_blue(href="#") 2014
                  li.menu__title
                    a.menu__link.menu__link_blue(href="http://www.2013.webdevconf.ru/" target="_blank") 2013
      header
        .head
          .container
            .row
              button.toggle-menu
                .toggle-menu__sandwitch
                  span.sw-topper
                  span.sw-bottom
                  span.sw-footer
              .col-md-3.col-sm-1
                a(href="#index").logo
              nav.col-md-9.col-sm-11
                ul.nav
                  li.nav__title
                    a.nav__link(href="https://devparty.ru#schedule") Программа
                  li.nav__title
                    a.nav__link(href="https://devparty.ru#speakers") Спикеры
                  li.nav__title
                    a.nav__link(href="https://devparty.ru#contacts") Контакты
                  li.nav__title
                    a.nav__link(href="https://devparty.ru#testimonials") Отзывы
                  li.nav__title
                    a.nav__link(href="https://devparty.ru#registration") Регистрация
        .container
          .row
            .col-lg-12
              .header__title
                h1.header__title__h Dev&nbsp;
                  span.header__title__h_red party
                h2.header__title_h2 2 апреля в&nbsp;
                  a(href="https://devparty.ru#contacts").header__title_h2 Вологде
                a(href="https://devparty.ru#registration").button.button_anim.header__title_button Регистрация
                .socials.socials_bottom
                  ul
                    li.socials__title
                      a.socials__vk(href="https://vk.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__facebook(href="https://www.facebook.com/devparty" target="_blank")
                    li.socials__title
                      a.socials__twitter(href="https://twitter.com/devparty_conf" target="_blank")
                    li.socials__title
                      a.socials__youtube(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
    section.section_blue
      .container
        .row
          .col-lg-12
            h2.content-box__h2 Доклады
        #talk-1.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/11.png", alt="Дмитрий Ивакин")
          .col-lg-9
            .content-box-2
              h2.talk Node.js: realtime приложение на примере системы управления очередью
              p.content-box__p_mm  Архитектурные особенности построения realtime-приложений на базе Node.js.
              |В докладе:
              ul
                li.normal Компоненты системы управления очередями (СУО).
                li.normal Выбор архитектуры.
                li.normal Проблемы реализации и пути решения.
                li.normal Схема развертывания на боевом сервере с учетом отказоустойчивости и высокой нагрузки.
              h3.speaker Дмитрий Ивакин, ООО «Пайлабс»
              br
              p Занимаюсь проектированием и разработкой клиент-серверных систем.
        #talk-2.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/3.png", alt="Евгений Безымянников")
          .col-lg-9
            .content-box-2
              h2.talk Микросервисы &mdash; микрозло и огромное добро
              p.content-box__p_mm Мы поговорим про современные тренды в разработке пришедшие из энтерпрайза в мир «обычного веба» &mdash; почему,  как,  зачем,  кому нужно,  что делать.
              |Бизнес растет и его стали интересовать не только цена, но и скорость и надежность решений. Унификация решений всех продуктов дает реальные рычаги контроля за работоспособностью, ценой решений, скоростью разработки, тестированием. <br/> Проблема: невозможно всем разработчикам знать всю структуру проекта, всю архитектуру, все нюансы. Сложность поддержки монолитного решения растет в геометрической прогрессии. Отказ от монолитных решений возможен только в сторону отдельных сервисов. Почему МИКРОсервисы?<br/> <br/>
              |В докладе:
              ul
                li.normal Лень &mdash; двигатель прогресса. Не все стоит реализовывать самим.
                li.normal Progressive enhancement &mdash; от «костылей» к полноценным сервисам.
                li.normal Сбор требований к сервисам. Организация работы Project Manager-a.
                li.normal Тестирование сервисов.
                li.normal От заказной разработки к студийной работе на потоке. Монетизация сервисов.
                li.normal Итоги: плюсы и минусы &mdash; за что Вас полюбят и возненавидят.
              h3.speaker Евгений Безымянников, ООО «Комод»
              br
              p Разработчик, тимлид и техдиректор проектов. В качестве CTO создавал сайт Совета Федерации. Ведущий разработчик проекта  #[a(href="https://witget.com/" target="_blank") Witget]. 
        #talk-3.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/14.png", alt="Юрий Петров")
          .col-lg-9
            .content-box-2
              h2.talk Инфраструктура Big Data &mdash; от источников до быстрых витрин
              p.content-box__p_mm  В докладе я постараюсь донести до аудитории общую концепцию построения инфраструктуры Big Data.
              |Основные тезисы:
              ul
                li.normal Big Data и крупный бизнес.
                li.normal Самое понятное определение Big Data.
                li.normal Источники данных или где нужен анализ данных в реальном времени.
                li.normal Почему пришла Big Data на смену традиционной инфраструктуре.
                li.normal Какие преимущества предоставляет Big Data архитектура.
                li.normal За счет чего в Big Data архитектуре реализованы все эти преимущества.
                li.normal Описание ключевых контейнеров HDFS.
                li.normal Data Lake.
                li.normal Подходы к обработке массивов данных.
                li.normal Гарантированная доставка информации.
                li.normal Обработка потока.
                li.normal Быстрые витрины &mdash; быстрая отдача информации &mdash; Redis и AeroSpike.
                li.normal NoSQL витрина для внутренних потребителей.
                li.normal Преимущества документо-ориентированных БД над реляционными.
                li.normal Графовые БД &mdash; высшая ступень эволюции.
                li.normal Дополнительные преимущества графовых БД.
              h3.speaker Юрий Петров, Координатор BigBigDataGroup
              br
              p С 2001 года моделирую реляционные базы данных. С 2007 года выступаю в роли архитектора на проектах построения и оптимизации высоконагруженных реляционных хранилищ в крупнейших банках, госструктурах и телекоме. С 2012 года Big Data евангелист, участвую в проектах построения Big Data инфраструктуры и Data Lake. С 2013 года архитектор на проектах миграции традиционных реляционных хранилищ и витрин на Data Lake, а так же на Document-oriented и Graph-oriented NoSQL базы данных.
        #talk-4.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/12.png", alt="Николай Головкин")
          .col-lg-9
            .content-box-2
              h2.talk «Яндекс.Транспорт» в Вологде
              p.content-box__p_mm Год назад я рассказывал про то, как работает сервис «Яндекс.Транспорт» на примере Череповца, однако подключать Вологду оказалось интереснее и сложнее. <br/>Мой доклад про то, как выглядел процесс изнутри, и чем Вологда отличается от всех остальных городов, где работает «Яндекс.Транспорт».
              h3.speaker Николай Головкин, #[a(href="http://yandex.ru" target="_blank") ООО «Яндекс»]
              br
              p Работаю руководителем группы разработки ядра биллинга «Яндекса».
        #talk-5.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/13.png", alt="Игорь Косулин")
          .col-lg-9
            .content-box-2
              h2.talk Битва добра со злом: Dart vs TypeScript
              p.content-box__p_mm Dart и TypeScript - зачем они вообще нужны. Краткий экскурс в прошлое JavaScript, попытка заглянуть в будущее. Сравнение Dart и TypeScript.
              h3.speaker Игорь Косулин, #[a(href="http://unvsoft.com" target="_blank") Universal Software]
              br
              p Программист.
        #talk-6.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/7.png", alt="Александр Тарасов")
          .col-lg-9
            .content-box-2
              h2.talk Мобильный маркетинг
              p.content-box__p_mm Доклад про продвижение мобильных приложений (user acquisition &mdash; привлечение пользователей). <br/>Особенности работы с партнерами по всему миру, включая онлайн (Facebook, Google, Twitter и сотни других ресурсов) и оффлайн каналы (ТВ реклама, реклама в метро и др.) для увеличения аудитории игр.
              |В докладе:
              ul
                li.normal Основные источники трафика для мобильных приложений.
                li.normal Базовые метрики user acquisition.
                li.normal Возможности для таргетинга и анализ трафика.
              h3.speaker Александр Тарасов, #[a(href="http://playrix.ru" target="_blank") Playrix]
              br
              p Директор по маркетингу компании «Playrix».
        #talk-7.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/5.png", alt="Валерий Чугреев")
          .col-lg-9
            .content-box-2
              h2.talk Архитектура MVC в контексте web-разработки – проблемы и решения
              p.content-box__p_mm  Доклад посвящен особенностям построения архитектуры на основе шаблона MVC (Model View Controller). Будут рассмотрены основные проблемы, связанные с использованием MVC, и предложены пути их решения.<br/> Примеры на PHP + Yii2.
              |В докладе:
              ul
                li.normal Роль и значение фреймворков в современной web-разработке, их влияние на архитектуру.<br/> Коротко о шаблонах MVC и ActiveRecord.
                li.normal Пути решения проблем: выделение слоя логики (Domain Layer), строгое разграничение ответственности, внедрение зависимостей (Dependency Injection).<br/> Демонстрационный проект, разбор кода.
                li.normal Плюсы и минусы подхода.
              h3.speaker Валерий Чугреев, Институт социально-экономического развития территорий РАН
              br
              p Занимаюсь управлением проектами, программированием, научной деятельностью.
        #talk-8.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/4.png", alt="Андрей Валдуев")
          .col-lg-9
            .content-box-2
              h2.talk Тестирование игр на мобильных платформах
              p.content-box__p_mm  Доклад об особенностях QA в игровой компании, а также особенностях QA в мобильных играх с миллионами пользователей.
              |В докладе:
              ul
                li.normal Особенности тестирования.
                li.normal Основные проблемы.
                li.normal Таблицы тестирования, как залог спокойствия.
                li.normal Чем грозит критический баг.
              h3.speaker Андрей Валдуев, #[a(href="http://playrix.ru" target="_blank") Playrix]
              br
              p QA-специалист в компании «Playrix». Занимаюсь тестирование игровых продуктов компании на наличие различных ошибок.
        #talk-9.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/9.png", alt="Александр Улизько")
          .col-lg-9
            .content-box-2
              h2.talk Современные приложения на JS: один код для сервера и для браузера
              |В докладе:
              ul
                li.normal Что такое Universal (a.k.a. Isomorphic) JavaScript.
                li.normal Практика. Инструменты и подходы (Node.js, React.js, Meteor, Rendr).
                li.normal Практика. Архитектура приложения (Отрисовка на сервере и клиенте, Flux).
                li.normal И теперь со всем этим мы попытаемся взлететь (Магия hot-reload, микросервисы, docker, масштабирование)
              h3.speaker Александр Улизько
              br
              p Full Stack JavaScript разработчик.
        #talk-10.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/10.png", alt="Владимир Варнавский")
          .col-lg-9
            .content-box-2
              h2.talk Как запускать проекты вовремя
              p.content-box__p_mm  На докладе будет дан ответ на самый главный вопрос жизни, смерти и вообще. 
              |В докладе:
              ul
                li.normal Задержки типичного проекта.
                li.normal План &mdash; это иллюзия.
                li.normal Укорачиваем итерации.
                li.normal Фиксируем время и деньги.
                li.normal Флексим.
              h3.speaker Владимир Варнавский, #[a(href="http://33kita.ru" target="_blank") интернет-студия «33 Кита»]
              br
              p Руковожу интернет-студией и управляю проектами.
        #talk-11.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/15.png", alt="Фото не предоставлено")
          .col-lg-9
            .content-box-2
              h2.talk Web-разработка автоматизированной технологической системы на коленке. Практический опыт
              p.content-box__p_mm Рассказ о том, как три человека разработали полезную систему автоматизации звонков для колл-центра, насколько сложно это было, какие решения принимались, что делали.
              |В докладе:
              ul
                li.normal Предыстория &mdash; как мы вообще занялись разработкой программного обеспечения, хотя ни разу до этого в коммерческом смысле этого не делали.
                li.normal Стандартный подход (обследование, проектирование, реализация) не всегда работает.<br/> Всегда в работе полявляются «сюрпризы». <br/>Наше чужое мнение как лучше организовывать работу при создании программного продукта.
                li.normal Выбор технологического решения &mdash; как мы слепили воедино готовые разные программные продукты.
                li.normal Что получилось &mdash; рассказ об итогах разработки, дальнейшие планы.
              h3.speaker Михаил Салтаев, #[a(href="http://www.votel.net" target="_blank") ООО «Вотел»]
              br
              p Занимаюсь телекоммуникациями, созданием систем автоматизации.
        #talk-12.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/6.png", alt="Владимир Колесов")
          .col-lg-9
            .content-box-2
              h2.talk 20% задач, которые дают 80% результата &mdash; главное при разработке коммерческих сайтов
              p.content-box__p_mm Требования и запросы клиентов, заказчиков, пользователей и поисковых систем, которые надо учитывать при разработке коммерческих сайтов.
              |В докладе:
              ul
                li.normal Что нужно от сайта &mdash; заказчику, поисковику, web-разработчику, менеджеру проекта.
                li.normal 5 самых распространенных ошибок при разработке которые допускают web-разработчики.
                li.normal Как повысить уровень, профессионализм и ценность команды web-разработчиков.
                li.normal Завсисимость эффективности коммерческих сайтов от качества дизайна, верстки и кода.
                li.normal Почему любому web-разработчику нужно думать на 5 шагов вперед.
              h3.speaker Владимир Колесов, индивидуальный предприниматель.
              br
              p Занимаюсь интернет-маркетингом, web-разработкой и управлением интернет проектами.
        #talk-13.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/2.png", alt="Александр Молчалыгин")
          .col-lg-9
            .content-box-2
              h2.talk РНР7 и равен ли переезд двум пожарам?
              p.content-box__p_mm Опыт переезда на РНР7 нашего проекта (хайлоад, несколько серверов, много legacy-кода, в том числе написанного незнакомыми друг с другом фрилансерами).<br/> Новое в РНР7. Почему ругать РНР становится всё сложнее.
              h3.speaker Александр Молчалыгин, #[a(href="http://calltouch.net" target="_blank") Calltouch]
        #talk-14.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/1.png", alt="Алексей Пахомов")
          .col-lg-9
            .content-box-2
              h2.talk Как фрилансеру зарабатывать больше?
              p.content-box__p_mm  Простые шаги для увеличения дохода от фриланса.
              |В докладе:
              ul
                li.normal Расскажу о своем опыте, как я был фрилансером с доходом до 200 тыс. в месяц, как работал с десятком разных фрилансеров, и какие сделал выводы.
                li.normal Представлю 7 моментов, которые сильно увеличивают доход фрилансера.
              h3.speaker Алексей Пахомов, #[a(href="http://alpaburo.ru" target="_blank") ББК «Альпа»]
              br
              p Лет 10 руководил веб-студией, создавали корпоративные сайты (больше 50). Занимался разработкой на заказ сложных веб-проектов &mdash; см. #[a(href="http://pakhomovalex.ru" target="_blank") pakhomovalex.ru].
        #talk-15.row.talk
          .col-lg-3
            .content-box-2
              img(src="../img/persons/8.png", alt="Сергей Шестаков")
          .col-lg-9
            .content-box-2
              h2.talk Разработка мобильных игр
              p.content-box__p_mm Доклад об особенностях разработки мобильных free-to-play игр и вспомогательных инструментов, используемых технологиях и принципах построения командной работы.
              |В докладе:
              ul
                li.normal Игры Playrix.
                li.normal Построение командной работы.
                li.normal Игровой движок.
                li.normal Кроссплатформенная разработка.
                li.normal Технические подробности рендера.
              h3.speaker Сергей Шестаков, #[a(href="http://playrix.ru" target="_blank") Playrix]
              br
              p Технический директор компании «Playrix». Кандидат физико-математических наук, преподаватель ВоГУ.
    footer 
      .container
        .footer__box
          .row
            .col-md-6.col-sm-6
              ul
                li 
                  | © Dev Party,
                  | 2016  
                li 
                  | Дизайн — 
                  a(href="http://noonki.org/" target="_blank") Круглова Ольга
                li 
                  | Верстка —
                  a(href="http://new-level.by" target="_blank") New-level
            .col-md-6.col-sm-6.right
              span.dev
              ul.socials
                li.socials__title
                  a.socials__vk.socials__vk_black(href="https://vk.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__facebook.socials__facebook_black(href="https://www.facebook.com/devparty" target="_blank")
                li.socials__title
                  a.socials__twitter.socials__twitter_black(href="https://twitter.com/devparty_conf" target="_blank")
                li.socials__title
                  a.socials__youtube.socials__youtube_black(href="https://www.youtube.com/channel/UClZl8d7-zRequR1MVlRPT7A/" target="_blank")
    noindex <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    script(src='../js/talks.js')
    <!-- Yandex.Metrika counter --> <script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter36119605 = new Ya.Metrika({ id:36119605, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/36119605" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
    script (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-75226628-1', 'auto');ga('send', 'pageview');